<div class="container-personalArea">
  <h1 class="head">Личный кабинет</h1>
  <div>
    <ul>
      <li><button><a href="/personalArea/downloadProducts">Скачать список всех заказов</a></button></li>
      <li><button><a href="/personalArea/download">Скачать информацию о клиентах</a></button></li>
    </ul>
  </div>
  <div class="container-orders">
    <h3>Заказы</h3>
    <table border="1">
      <tr>
        <th>id</th>
        <th>имя</th>
        <th>тел</th>
        <th>сообщение</th>
        <th>почта</th>
        <th>эскиз</th>
      </tr>
      {{#each clients}}     
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.message}}</td>
        <td>{{this.email}}</td>
        <td>
          {{#each this.dataValues.Pictures}}
          <img src="{{this.img}}" alt="order">
          {{/each}}
        </td>
      </tr>
      {{/each }}
    </table>
</div>
